@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("./images/bg.png");
  background-color: #f2f8f5;
}

.hero_span {
  background: -webkit-linear-gradient(#23bfb8, #85ea80);
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: #f2f8f5;
  text-transform: uppercase;
}

.fun-fact_bg_title {
  background: -webkit-linear-gradient(90deg, #f2f8f5 10%, #e2e2e2 90%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: #f2f8f5;
}
